absl-py
attrs
blinker
cffi
click
contourpy
cycler
Flask
Flask-Cors
flatbuffers
fonttools
itsdangerous
jax
jaxlib
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scikit-learn
scipy
six
sounddevice
threadpoolctl
Werkzeug
