<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<section class="">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
      >
        <%= user.user_type %>
      </h2>
      <p class="font-light text-gray-500 sm:text-xl"><%= user.email %></p>
    </div>
  </div>
</section>
