<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<section class="max-w-7xl mx-auto py-4">
  <h2 class="text-2xl">Your WatchList</h2>
</section>

<%- include('../partials/footer.ejs') %>
