@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-box {
    background: url("/box.png") repeat center center;
  }
  .glass-primary {
    box-shadow: 0 2px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}
